body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgba(181, 176, 186, 1.0), rgba(1, 1, 1, 1.0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


h1 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.form-container {
    max-width: 300px;
    margin: 245px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 97%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #2980b9;
}

.form-container p {
    text-align: center;
}

.form-container p a {
    color: #3498db;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .form-container {
        padding: 10px;
    }
}
